<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"></meta>
<meta name="theme-color" content="#000000"></meta>
<link rel="manifest" href="./manifest.json"></link>
<link rel="shortcut icon" href="./media/logo.png"></link>
<title>Test</title>
<link href="./css/main.b2f66b9a.css" rel="stylesheet"></link>
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>
<script type="text/javascript" src="./js/main.ba8811fb.js"></script>

</body>
</html>